.card {
    box-shadow: 0 0.2rem 2rem rgba(0, 0, 0, 0.2);
    border-radius: 1.5rem;
    margin: 5%;
    padding: 3%;
    color: darkslateblue;
    background-color: white;
}

.cards_list {
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-between;
}