.request_card {
    width: 25%;
    margin: 1%;
}

.card {
    display: grid;
    grid-template: 3rem 14rem 3rem/ 100%;
}

.up_action_block {
    margin-top: 1rem;
    justify-self: end;
}

.cross_button {
    color: darkred;
}

.down_action_block {
    align-self: end;
}

.description{
    height: 5rem;
    overflow-y: scroll;
    text-overflow: clip;
}